source_up
export GITHUB_CLIENT_ID=$(op item get "Slack Platform" --reveal --fields GITHUB_CLIENT_ID)
export NOTION_CLIENT_ID=$(op item get "Slack Platform" --reveal --fields NOTION_CLIENT_ID)
export SLACK_DEBUG="true"
